form(action='/users' method='post')
  .row.form-group
    .col-sm
      label(for='inputNickname') Nickname
      input.form-control.mt-2(type='text' name='nickname' id='inputNickname' placeholder='Enter nickname' value=form.nickname)
      if errors.nickname
        .text-warning= errors.nickname
  .row.form-group.mt-3
    .col-sm
      label(for='inputPassword') Password
      input.form-control.mt-2(type='password' name='password' id='inputPassword' placeholder='Enter password')
      if errors.password
        .text-warning= errors.password
  .form-group.mt-4
    button.btn.btn-success.btn-block(type='submit') Sign up