if Object.keys(errors).length > 0
  for key in Object.keys(errors)
    div.alert.alert-danger(role='alert')= errors[key]
.row.form-group
  .col-sm
    label.col-form-label
      | Title
      sup *
    input.form-control(name='title' value=form.title)
.row.form-group
  .col-sm
    label.col-form-label
      | Body
      sup *
    textarea.form-control(rows=10 name='body')= form.body
.form-group
  button.mt-4.btn.btn-primary.btn-block(type='submit') Save
